In [32]:
import pandas as pd
import numpy as np

In [33]:
matches = pd.read_csv("matches.csv")
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [34]:
delivs = pd.read_csv("https://github.com/WooTechnology/ipl-saga/raw/main/Datasets/deliveries.csv")
delivs.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [35]:
auct = pd.read_excel("https://github.com/WooTechnology/ipl-saga/raw/main/Datasets/cricket.xls", sheet_name = "Sheet1")
auct.head()

,Variable Tag,Is Captain(1=yes),Is Wktkeeper(1=Yes),Nationality(1=Overseas),Name,Team,IPL 4 Franchise,Player cost USD,matches,innings played,...,Is star bowler,wkts taken,Best innings bowling,best match bowling,Bowling average,Bowling econ,sr,4w,5w,10 wicket hauls
0,1.0,0.0,0.0,1,Aiden Blizzard,Australia,Mumbai Indians,20000.0,40.0,40.0,...,0.0,0,-,-,0.00,10,-,0,0,0
1,2.0,0.0,0.0,1,Jonathan Vandiar,South Africa,Royal Challengers Bangalore,20000.0,18.0,18.0,...,0.0,-,-,-,0.00,-,-,-,-,-
2,3.0,0.0,0.0,1,Nathan Rimmington,Australia,Kings XI Punjab,20000.0,23.0,8.0,...,0.0,31,2027-05-01 00:00:00,2027-05-01 00:00:00,18.16,7.24,15,0,1,0
3,4.0,0.0,0.0,1,Rilee Rossouw,South Africa,Royal Challengers Bangalore,20000.0,20.0,20.0,...,0.0,-,-,-,0.00,-,-,-,-,-
4,5.0,0.0,0.0,1,Robert Frylinck,South Africa,Delhi Daredevils,20000.0,25.0,22.0,...,0.0,26,1931-04-01 00:00:00,1931-04-01 00:00:00,23.96,7.5,19.1,1,0,0

In [36]:
auct = auct.drop([129, 130, 131, 132])
auct.tail()

,Variable Tag,Is Captain(1=yes),Is Wktkeeper(1=Yes),Nationality(1=Overseas),Name,Team,IPL 4 Franchise,Player cost USD,matches,innings played,...,Is star bowler,wkts taken,Best innings bowling,best match bowling,Bowling average,Bowling econ,sr,4w,5w,10 wicket hauls
124,125.0,0.0,0.0,0,Irfan Pathan,India,Delhi Daredevils,1900000.0,83.0,67.0,...,1.0,89,2027-04-01 00:00:00,2027-04-01 00:00:00,24.29,7.65,19,1,0,0
125,126.0,0.0,0.0,0,Rohit Sharma,India,Mumbai Indians,2000000.0,97.0,91.0,...,0.0,26,2011-06-04 00:00:00,2011-06-04 00:00:00,25.19,7.44,20.3,1,0,0
126,127.0,0.0,1.0,0,Robin Uthappa,India,Pune Warriors,2100000.0,93.0,87.0,...,0.0,-,-,-,0.00,-,-,-,-,-
127,128.0,0.0,0.0,0,Yusuf Pathan,India,Kolkata Knight Riders,2100000.0,90.0,82.0,...,0.0,67,2011-10-04 00:00:00,2011-10-04 00:00:00,24.50,7.46,19.7,2,0,0
128,129.0,1.0,0.0,0,Gautam Gambhir,India,Kolkata Knight Riders,2400000.0,87.0,85.0,...,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN

In [37]:
auct.set_index("Variable Tag", inplace=True)
auct.head()

,Is Captain(1=yes),Is Wktkeeper(1=Yes),Nationality(1=Overseas),Name,Team,IPL 4 Franchise,Player cost USD,matches,innings played,no,...,Is star bowler,wkts taken,Best innings bowling,best match bowling,Bowling average,Bowling econ,sr,4w,5w,10 wicket hauls
Variable Tag,,,,,,,,,,,,,,,,,,,,,
1.0,0.0,0.0,1,Aiden Blizzard,Australia,Mumbai Indians,20000.0,40.0,40.0,3.0,...,0.0,0,-,-,0.00,10,-,0,0,0
2.0,0.0,0.0,1,Jonathan Vandiar,South Africa,Royal Challengers Bangalore,20000.0,18.0,18.0,1.0,...,0.0,-,-,-,0.00,-,-,-,-,-
3.0,0.0,0.0,1,Nathan Rimmington,Australia,Kings XI Punjab,20000.0,23.0,8.0,5.0,...,0.0,31,2027-05-01 00:00:00,2027-05-01 00:00:00,18.16,7.24,15,0,1,0
4.0,0.0,0.0,1,Rilee Rossouw,South Africa,Royal Challengers Bangalore,20000.0,20.0,20.0,0.0,...,0.0,-,-,-,0.00,-,-,-,-,-
5.0,0.0,0.0,1,Robert Frylinck,South Africa,Delhi Daredevils,20000.0,25.0,22.0,8.0,...,0.0,26,1931-04-01 00:00:00,1931-04-01 00:00:00,23.96,7.5,19.1,1,0,0

In [49]:
auct = auct.replace(['-'],'0')
auct = auct.fillna(0, inplace=True)

In [39]:
auct = auct.drop(auct.columns[24], axis=1)
auct = auct.drop(['matches played'], axis=1)

In [40]:
auct = auct.drop(auct.columns[24], axis=1)
auct = auct.drop(['Best innings bowling', 'best match bowling'], axis=1)

In [41]:
retained = [0]*129
auct["Retained"] = retained

In [42]:
def is_retained(string):
    string = str(string).split(" ")
    if string[-1] == "(retained)":
        return 1
    else:
        return 0
        
auct["Retained"] = auct["Name"].apply(is_retained)

In [43]:
# I forgot that some people have the same surnames :(

def rename(string):
    string = str(string).split(" ")
    new_string = ""
    if len(string) == 2:
        new_string += string[1]
    elif len(string) == 3 and string[2] != "(retained)":
        new_string += string[2]
    elif len(string) == 3 and string[2] == "(retained)":
        new_string += string[1]
    elif len(string) == 4:
        new_string += string[3]
    return new_string
    
auct["Name"] = auct["Name"].apply(rename)
list(auct["Name"])

['Blizzard',
 'Vandiar',
 'Rimmington',
 'Rossouw',
 'Frylinck',
 'Birt',
 'Bailey',
 'Wath',
 'Pomersbasch',
 'Henriques',
 'Merwe',
 'Klinger',
 'McDonald',
 'Lumb',
 'Randiv',
 'Perera',
 'Theron',
 'Thomas',
 'Hilfenhaus',
 'Ingram',
 'Mascarenhas',
 'Franklin',
 'Taylor',
 'Wade',
 'McCullum',
 'Kulasekara',
 'Saha',
 'McKay',
 'Plessis',
 'Kaif',
 'Langeveldt',
 'Ryder',
 'Sharma',
 'Doeschate',
 'Parnell',
 'Jacobs',
 'Bravo',
 'Shah',
 'Styris',
 'Smith',
 'Agarkar',
 'Tyagi',
 'Unadkat',
 'Collingwood',
 'Ojha',
 'Paine',
 'Gony',
 'Patel',
 'Finch',
 'Mishra',
 'Ferguson',
 'Duminy',
 'Tait',
 'Dhawan',
 'Haddin',
 'Harris',
 'Morgan',
 'Hopes',
 'Dinda',
 'Lee',
 'Kartik',
 'Marsh',
 'Broad',
 'Laxman',
 'Hodge',
 'Hussey',
 'Hasan',
 'Sharma',
 'McCullum',
 'Tiwary',
 'Morkel',
 'Kumar',
 'Morkel',
 'Smith',
 'Balaji',
 'Malinga',
 'Ojha',
 'Dravid',
 'Singh',
 'Vettori',
 'Nannes',
 'Pietersen',
 'Dilshan',
 'Pujara',
 'Bollinger',
 'Sangakkara',
 'Patel',
 'Rao',
 'Warner',
 'Nayar',
 'Kumar',
 'Symonds',
 'Nehra',
 'Ashwin',
 'Badrinath',
 'Gilchrist',
 'Christian',
 'Karthik',
 'Pollard',
 'Vijay',
 'Chawla',
 '',
 'Khan',
 'Mathews',
 'Botha',
 'Jadeja',
 'Taylor',
 'Villiers',
 'White',
 'Kallis',
 'Muralitharan',
 'Steyn',
 'Singh',
 'Watson',
 'Raina',
 'Hussey',
 'Jayawardene',
 'Tiwary',
 'Dhoni',
 'Tendulkar',
 'Warne',
 'Kohli',
 'Sehwag',
 'Singh',
 'Pathan',
 'Sharma',
 'Uthappa',
 'Pathan',
 'Gambhir']

In [44]:
def surname(string):
    string = str(string).split(" ")
    new_string = ""
    if len(string) == 2:
        new_string += string[1]
    return new_string

In [45]:
delivs["batsman"] = delivs["batsman"].apply(surname)
list(delivs["batsman"])

['Warner',
 'Warner',
 'Warner',
 'Warner',
 'Warner',
 'Dhawan',
 'Dhawan',
 'Dhawan',
 'Warner',
 'Warner',
 'Warner',
 'Warner',
 'Henriques',
 'Henriques',
 'Dhawan',
 'Henriques',
 'Henriques',
 'Henriques',
 'Dhawan',
 'Henriques',
 'Henriques',
 'Henriques',
 'Dhawan',
 'Dhawan',
 'Henriques',
 'Dhawan',
 'Dhawan',
 'Henriques',
 'Dhawan',
 'Henriques',
 'Henriques',
 'Henriques',
 'Dhawan',
 'Dhawan',
 'Dhawan',
 'Dhawan',
 'Dhawan',
 'Dhawan',
 'Dhawan',
 'Henriques',
 'Henriques',
 'Dhawan',
 'Henriques',
 'Dhawan',
 'Dhawan',
 'Henriques',
 'Dhawan',
 'Henriques',
 'Henriques',
 'Dhawan',
 'Dhawan',
 'Dhawan',
 'Henriques',
 'Dhawan',
 'Henriques',
 'Henriques',
 'Dhawan',
 'Dhawan',
 'Henriques',
 'Dhawan',
 'Henriques',
 'Dhawan',
 'Henriques',
 'Dhawan',
 'Dhawan',
 'Henriques',
 'Singh',
 'Singh',
 'Henriques',
 'Singh',
 'Singh',
 'Henriques',
 'Singh',
 'Singh',
 'Singh',
 'Singh',
 'Singh',
 'Singh',
 'Singh',
 'Singh',
 'Singh',
 'Singh',
 'Singh',
 'Henriques',
 'Singh',
 'Henriques',
 'Henriques',
 'Henriques',
 'Henriques',
 'Singh',
 'Singh',
 'Henriques',
 'Henriques',
 'Henriques',
 'Henriques',
 'Singh',
 'Hooda',
 'Singh',
 'Hooda',
 'Hooda',
 'Singh',
 'Singh',
 'Singh',
 'Hooda',
 'Hooda',
 'Hooda',
 'Hooda',
 'Singh',
 'Singh',
 'Singh',
 'Singh',
 'Hooda',
 'Hooda',
 'Hooda',
 'Singh',
 'Singh',
 'Singh',
 'Cutting',
 'Hooda',
 'Cutting',
 'Hooda',
 'Cutting',
 'Cutting',
 'Cutting',
 'Cutting',
 'Gayle',
 'Singh',
 'Singh',
 'Singh',
 'Singh',
 'Singh',
 'Gayle',
 'Gayle',
 'Gayle',
 'Singh',
 'Singh',
 'Singh',
 'Gayle',
 'Gayle',
 'Gayle',
 'Singh',
 'Singh',
 'Gayle',
 'Singh',
 'Gayle',
 'Gayle',
 'Gayle',
 'Gayle',
 'Gayle',
 'Singh',
 'Gayle',
 'Gayle',
 'Gayle',
 'Gayle',
 'Gayle',
 'Gayle',
 'Gayle',
 'Singh',
 'Singh',
 'Singh',
 'Singh',
 'Head',
 'Head',
 'Gayle',
 'Gayle',
 'Gayle',
 'Head',
 'Head',
 'Jadhav',
 'Head',
 'Head',
 'Head',
 'Jadhav',
 'Head',
 'Jadhav',
 'Head',
 'Jadhav',
 'Jadhav',
 'Jadhav',
 'Head',
 'Jadhav',
 'Jadhav',
 'Jadhav',
 'Head',
 'Head',
 'Jadhav',
 'Head',
 'Head',
 'Jadhav',
 'Head',
 'Jadhav',
 'Jadhav',
 'Head',
 'Jadhav',
 'Jadhav',
 'Jadhav',
 'Jadhav',
 'Head',
 'Head',
 'Jadhav',
 'Watson',
 'Head',
 'Head',
 'Watson',
 'Watson',
 'Head',
 'Head',
 'Watson',
 'Baby',
 'Baby',
 'Watson',
 'Baby',
 'Watson',
 'Binny',
 'Binny',
 'Watson',
 'Binny',
 'Binny',
 'Binny',
 'Watson',
 'Binny',
 'Binny',
 'Binny',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Binny',
 'Watson',
 'Watson',
 'Binny',
 'Aravind',
 'Watson',
 'Watson',
 'Watson',
 'Aravind',
 'Chahal',
 'Chahal',
 'Mills',
 'Chahal',
 'Chahal',
 'Mills',
 'Mills',
 'Chahal',
 'Chahal',
 'Chahal',
 'Choudhary',
 'Choudhary',
 'Patel',
 'Patel',
 'Patel',
 'Buttler',
 'Patel',
 'Patel',
 'Patel',
 'Buttler',
 'Buttler',
 'Buttler',
 'Buttler',
 'Buttler',
 'Buttler',
 'Patel',
 'Patel',
 'Patel',
 'Patel',
 'Patel',
 'Patel',
 'Patel',
 'Buttler',
 'Buttler',
 'Buttler',
 'Buttler',
 'Buttler',
 'Patel',
 'Patel',
 'Sharma',
 'Sharma',
 'Buttler',
 'Sharma',
 'Sharma',
 'Buttler',
 'Buttler',
 'Buttler',
 'Buttler',
 'Buttler',
 'Sharma',
 'Sharma',
 'Sharma',
 'Rana',
 'Buttler',
 'Rayudu',
 'Rayudu',
 'Rana',
 'Rayudu',
 'Rayudu',
 'Rana',
 'Rana',
 'Rayudu',
 'Rana',
 'Rana',
 'Rana',
 'Rayudu',
 'Rana',
 'Rana',
 'Rayudu',
 'Rana',
 'Rana',
 'Rayudu',
 'Rayudu',
 'Rayudu',
 'Rana',
 'Rayudu',
 'Rana',
 'Rana',
 'Rana',
 'Rana',
 'Rayudu',
 'Pandya',
 'Rana',
 'Pandya',
 'Rana',
 'Rana',
 'Pandya',
 'Rana',
 'Rana',
 'Pandya',
 'Rana',
 'Rana',
 'Pandya',
 'Rana',
 'Pandya',
 'Rana',
 'Pollard',
 'Rana',
 'Pollard',
 'Pollard',
 'Pollard',
 'Pollard',
 'Rana',
 'Rana',
 'Pollard',
 'Pollard',
 'Pollard',
 'Rana',
 'Pandya',
 'Pandya',
 'Pollard',
 'Pollard',
 'Pandya',
 'Pollard',
 'Pandya',
 'Pollard',
 'Pollard',
 'Pandya',
 'Pandya',
 'Pollard',
 'Pollard',
 'Pandya',
 'Pandya',
 'Pollard',
 'Pandya',
 'Pollard',
 'Southee',
 'Pandya',
 'Southee',
 'Southee',
 'Pandya',
 'Pandya',
 'Pandya',
 'Pandya',
 'Pandya',
 'Pandya',
 'Pandya',
 'Rahane',
 'Agarwal',
 'Agarwal',
 'Agarwal',
 'Rahane',
 'Rahane',
 'Rahane',
 'Rahane',
 'Rahane',
 'Rahane',
 'Agarwal',
 'Rahane',
 'Rahane',
 'Rahane',
 'Rahane',
 'Rahane',
 'Rahane',
 'Rahane',
 'Agarwal',
 'Agarwal',
 'Smith',
 'Smith',
 'Rahane',
 'Smith',
 'Smith',
 'Rahane',
 'Smith',
 'Rahane',
 'Rahane',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Rahane',
 'Rahane',
 'Rahane',
 'Rahane',
 'Rahane',
 'Smith',
 'Smith',
 'Rahane',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Rahane',
 'Rahane',
 'Rahane',
 'Rahane',
 'Smith',
 'Smith',
 'Rahane',
 'Rahane',
 'Rahane',
 'Rahane',
 'Smith',
 'Smith',
 'Rahane',
 'Rahane',
 'Smith',
 'Smith',
 'Stokes',
 'Stokes',
 'Stokes',
 'Stokes',
 'Stokes',
 'Smith',
 'Stokes',
 'Stokes',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Stokes',
 'Smith',
 'Smith',
 'Stokes',
 'Stokes',
 'Stokes',
 'Stokes',
 'Smith',
 'Smith',
 'Stokes',
 'Smith',
 'Smith',
 'Stokes',
 'Stokes',
 'Smith',
 'Dhoni',
 'Smith',
 'Smith',
 'Smith',
 'Dhoni',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Dhoni',
 'Dhoni',
 'Smith',
 'Smith',
 'Dhoni',
 'Smith',
 'Dhoni',
 'Smith',
 'Dhoni',
 'Dhoni',
 'Dhoni',
 'Dhoni',
 'Dhoni',
 'Smith',
 'Dhoni',
 'Smith',
 'Smith',
 'Roy',
 'Roy',
 'Roy',
 'Roy',
 'Roy',
 'Roy',
 'McCullum',
 'Roy',
 'Roy',
 'Roy',
 'Roy',
 'Roy',
 'McCullum',
 'McCullum',
 'McCullum',
 'McCullum',
 'McCullum',
 'Roy',
 'McCullum',
 'Roy',
 'Raina',
 'Raina',
 'McCullum',
 'McCullum',
 'McCullum',
 'Raina',
 'McCullum',
 'McCullum',
 'McCullum',
 'McCullum',
 'McCullum',
 'Raina',
 'Raina',
 'Raina',
 'Raina',
 'Raina',
 'Raina',
 'McCullum',
 'McCullum',
 'Raina',
 'McCullum',
 'McCullum',
 'McCullum',
 'Raina',
 'McCullum',
 'McCullum',
 'Raina',
 'McCullum',
 'Raina',
 'McCullum',
 'Finch',
 'Raina',
 'Finch',
 'Finch',
 'Raina',
 'Raina',
 'Finch',
 'Finch',
 'Finch',
 'Raina',
 'Finch',
 'Raina',
 'Finch',
 'Raina',
 'Karthik',
 'Karthik',
 'Raina',
 'Raina',
 'Raina',
 'Raina',
 'Karthik',
 'Raina',
 'Raina',
 'Raina',
 'Karthik',
 'Karthik',
 'Raina',
 'Karthik',
 'Karthik',
 'Raina',
 'Raina',
 'Raina',
 'Raina',
 'Karthik',
 'Raina',
 'Raina',
 'Karthik',
 'Raina',
 'Karthik',
 'Karthik',
 'Raina',
 'Raina',
 'Karthik',
 'Raina',
 'Raina',
 'Raina',
 'Raina',
 'Raina',
 'Karthik',
 'Raina',
 'Karthik',
 'Raina',
 'Karthik',
 'Raina',
 'Karthik',
 'Karthik',
 'Raina',
 'Raina',
 'Raina',
 'Karthik',
 'Raina',
 'Raina',
 'Karthik',
 'Karthik',
 'Karthik',
 'Raina',
 'Karthik',
 'Raina',
 'Karthik',
 'Karthik',
 'Karthik',
 'Raina',
 'Gambhir',
 'Lynn',
 'Lynn',
 'Gambhir',
 'Gambhir',
 'Lynn',
 'Gambhir',
 'Lynn',
 'Lynn',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Lynn',
 'Lynn',
 'Lynn',
 'Lynn',
 'Lynn',
 'Lynn',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Lynn',
 'Lynn',
 'Lynn',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Lynn',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Lynn',
 'Lynn',
 'Lynn',
 'Lynn',
 'Lynn',
 'Lynn',
 'Lynn',
 'Gambhir',
 'Lynn',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Lynn',
 'Lynn',
 'Gambhir',
 'Gambhir',
 'Lynn',
 'Lynn',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Lynn',
 'Lynn',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Lynn',
 'Lynn',
 'Gambhir',
 'Gambhir',
 'Lynn',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Gambhir',
 'Lynn',
 'Gambhir',
 'Lynn',
 'Gambhir',
 'Lynn',
 'Lynn',
 'Lynn',
 'Gambhir',
 'Lynn',
 'Lynn',
 'Gambhir',
 'Lynn',
 'Lynn',
 'Lynn',
 'Lynn',
 'Lynn',
 'Lynn',
 'Lynn',
 'Rahane',
 'Agarwal',
 'Agarwal',
 'Agarwal',
 'Agarwal',
 'Smith',
 'Rahane',
 'Rahane',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Rahane',
 'Smith',
 'Rahane',
 'Rahane',
 'Smith',
 'Rahane',
 'Rahane',
 'Smith',
 'Rahane',
 'Rahane',
 'Rahane',
 'Rahane',
 'Smith',
 'Rahane',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Rahane',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Rahane',
 'Smith',
 'Smith',
 'Smith',
 'Smith',
 'Stokes',
 'Smith',
 'Stokes',
 'Smith',
 'Stokes',
 'Smith',
 'Smith',
 'Smith',
 'Stokes',
 'Dhoni',
 'Dhoni',
 'Dhoni',
 'Stokes',
 'Dhoni',
 'Stokes',
 'Dhoni',
 'Dhoni',
 'Stokes',
 'Dhoni',
 'Stokes',
 'Dhoni',
 'Dhoni',
 'Stokes',
 'Dhoni',
 'Dhoni',
 'Stokes',
 'Stokes',
 'Dhoni',
 'Dhoni',
 'Tiwary',
 'Stokes',
 'Tiwary',
 'Stokes',
 'Stokes',
 'Tiwary',
 'Stokes',
 'Tiwary',
 'Tiwary',
 'Stokes',
 'Stokes',
 'Tiwary',
 'Stokes',
 'Stokes',
 'Stokes',
 'Tiwary',
 'Tiwary',
 'Tiwary',
 'Stokes',
 'Tiwary',
 'Tiwary',
 'Stokes',
 'Stokes',
 'Stokes',
 'Stokes',
 'Tiwary',
 'Stokes',
 'Tiwary',
 'Stokes',
 'Stokes',
 'Tiwary',
 'Stokes',
 'Tiwary',
 'Stokes',
 'Stokes',
 'Stokes',
 'Stokes',
 'Tiwary',
 'Stokes',
 'Christian',
 'Christian',
 'Tiwary',
 'Christian',
 'Tiwary',
 'Tiwary',
 'Christian',
 'Tiwary',
 'Tiwary',
 'Tiwary',
 'Christian',
 'Christian',
 'Christian',
 'Christian',
 'Tiwary',
 'Amla',
 'Amla',
 'Amla',
 'Amla',
 'Vohra',
 'Amla',
 'Vohra',
 'Vohra',
 'Vohra',
 'Vohra',
 'Amla',
 'Vohra',
 'Vohra',
 'Amla',
 'Vohra',
 'Vohra',
 'Amla',
 'Vohra',
 'Vohra',
 'Amla',
 'Saha',
 'Saha',
 'Saha',
 'Saha',
 'Amla',
 'Amla',
 'Saha',
 'Amla',
 'Amla',
 'Saha',
 'Saha',
 'Saha',
 'Amla',
 'Saha',
 'Patel',
 'Amla',
 'Patel',
 'Patel',
 'Patel',
 'Amla',
 'Patel',
 'Patel',
 'Patel',
 'Patel',
 'Patel',
 'Patel',
 'Patel',
 'Amla',
 'Patel',
 'Amla',
 'Patel',
 'Amla',
 'Amla',
 'Amla',
 'Patel',
 'Amla',
 'Amla',
 'Patel',
 'Amla',
 'Patel',
 'Amla',
 'Patel',
 'Amla',
 'Patel',
 'Patel',
 'Patel',
 'Patel',
 'Amla',
 'Patel',
 'Patel',
 'Patel',
 'Patel',
 'Maxwell',
 'Miller',
 'Maxwell',
 'Miller',
 'Miller',
 'Maxwell',
 'Maxwell',
 'Miller',
 'Maxwell',
 'Maxwell',
 'Maxwell',
 'Miller',
 'Miller',
 'Maxwell',
 'Maxwell',
 'Miller',
 'Miller',
 'Miller',
 'Miller',
 'Maxwell',
 'Maxwell',
 'Maxwell',
 'Miller',
 'Maxwell',
 'Maxwell',
 'Miller',
 'Maxwell',
 'Maxwell',
 'Maxwell',
 'Maxwell',
 'Miller',
 'Miller',
 'Miller',
 'Miller',
 'Maxwell',
 'Maxwell',
 'Miller',
 'Maxwell',
 'Miller',
 'Miller',
 'Miller',
 'Miller',
 'Miller',
 'Miller',
 'Miller',
 'Miller',
 'Miller',
 'Miller',
 'Maxwell',
 'Maxwell',
 'Gayle',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Gayle',
 'Gayle',
 'Gayle',
 'Watson',
 'Watson',
 'Gayle',
 'Gayle',
 'Gayle',
 'Watson',
 'Watson',
 'Gayle',
 'Gayle',
 'Singh',
 'Singh',
 'Singh',
 'Singh',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Watson',
 'Singh',
 'Singh',
 'Watson',
 'Singh',
 'Singh',
 'Singh',
 'Singh',
 'Jadhav',
 'Watson',
 'Jadhav',
 ...]

In [46]:
delivs["non_striker"] = delivs["non_striker"].apply(surname)
delivs["bowler"] = delivs["bowler"].apply(surname)

In [47]:
in_2010 = matches.query('season==2010')
len(in_2010)

60

In [48]:
ballbyball = delivs.query('match_id >= 175 and match_id <= 234')
ballbyball.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
40957,175,1,Kolkata Knight Riders,Deccan Chargers,1,1,Tiwary,Hodge,Vaas,0,...,0,0,0,0,0,0,0,MK Tiwary,caught,RG Sharma
40958,175,1,Kolkata Knight Riders,Deccan Chargers,1,2,Ganguly,Hodge,Vaas,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
40959,175,1,Kolkata Knight Riders,Deccan Chargers,1,3,Ganguly,Hodge,Vaas,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
40960,175,1,Kolkata Knight Riders,Deccan Chargers,1,4,Ganguly,Hodge,Vaas,0,...,0,0,0,0,0,0,0,SC Ganguly,caught,Anirudh Singh
40961,175,1,Kolkata Knight Riders,Deccan Chargers,1,5,Pujara,Hodge,Vaas,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN